@tailwind base;
@tailwind components;
@tailwind utilities;

#app{
background: whitesmoke;
background: url("../../../public/images/drop.png");
background-size: cover;

/* background-repeat: no-repeat;  */
}